@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';
@config "../tailwind.config.js";

@plugin "daisyui" {
  themes: all;
  root: ':root';
  logs: false;
}

:root {
  --font-noto-sans-mono: 'Noto Sans Mono', monospace;
  --font-noto-sans: 'Noto Sans', sans-serif;

  font-family: 'Noto Sans', system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
}